:root {
  --background-color: #f4f1ec;
  --foreground-color: #000000;
  --highlight-color: orangered;
  --box-border-radius: 3px;
  --media-border-radius: 8px;
  --dot-size: 8px;
  --shadows: 0 1px 2px rgba(0, 0, 0, 0.02), 0 2px 4px rgba(0, 0, 0, 0.02),
    0 4px 8px rgba(0, 0, 0, 0.02), 0 8px 16px rgba(0, 0, 0, 0.02);
  --box-margin: 10px;
  --border-color: rgba(0, 0, 0, 0.05);
  --link-color: var(--highlight-color);
  --cell-background-color: #fff;
  --code-background-color: #f9f9f9;
  --secondary-color: #999;
}

* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  line-height: 1.6;
}

a {
  color: #778087;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #4d5256;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.main-container {
  flex: 1;
  padding-right: 30px;
  margin-right: 20px;
  border-right: 1px solid var(--border-color);
}

.aside-container {
  width: 200px;
  min-width: 200px;
  padding-bottom: 20px;
}

/* 响应式 */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
    padding: 10px;
  }

  .main-container {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
    width: 100%;
  }

  .aside-container {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
  }
}
